<!-- Navbar/Hero -->
<div id="large-header">
  <header id="main_navigation" class="clearfix">
      <%= link_to "Andrew Woo", root_path, class: "name" %>
      <nav>

        <a id="project_button" href="#">Projects</a>
        <a id="contact_button" href="#">Contact</a>
        <%= link_to "Blog", posts_path %>
        <% if user_signed_in? %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <% end %>
      </nav>
  </header>
  <div class="row-fluid">
    <div class="col-md-3 col-xs-1"></div>
    <div id="intro" class="col-xs-10 col-md-6">
      <img id="profile" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/5/005/0b2/3d6/21687e5.jpg"/>

      <p id="name">Hey, I'm Andrew!</p>
   <!--    <p class="visible-xs" id="name-xs">Hey, I'm Andrew!</p> -->
        <div class="about">
          <p class="text">I'm a Web Developer living in Vancouver BC. Feel free to browse my past projects as well as read my blog posts!</p>
          <p class="text">Leave a message for any inquiries!</p>
        </div>
    </div>
    <div class="col-md-3 col-xs-1"></div>
  </div>
</div>

<!-- Projects List -->
<div id="project_start">
  <!-- <div id="projects"> -->
    <div class="flex-row">
      <div class="imac-img device-left">
        <%= image_tag("iphoneimac_dropin.png", :class => "device-left")%>
      </div>
      <div class="text-project">
        <div>
          <h3 class="title"><a href="https://drop-in-pass.herokuapp.com/" target="_blank">Drop-in Pass</a></h3>
        </div>
        <div>
          <p>In a group of 3, we built Drop-in Pass as our final project at Lighthouse Labs.  Drop-in Pass allows users to try a variety of activities in their area for free once per month.  This allows customers to commit to activities that they actually enjoy.</p>
          <p><strong><span class="tech-used">Technologies used:<span></strong> Rails, Bootstrap, HTML5/CSS3, Javascript, jQuery, Twilio API, Google Maps API, Stripe API, Action Mailers</p>
        </div>
      </div>
    </div>  <!-- close row -->
  <!-- </div>   -->

  <hr class="red-hr">

  <!-- <div id="projects"> -->
    <div class="flex-row">
      <div class="imac-img">
        <%= image_tag("iphoneimac_rotten.png")%>
      </div>
      <div class="text-project">
        <div>
          <h3 class="title"><a href="http://rotten-bananas.herokuapp.com/" target="_blank">Rotten Bananas</a></h3>
        </div>
        <div>
          <p>Rotten Bananas is a mock of RottenTomatoes where users can search, view, rate, and review movies.</p>
          <p><strong><span class="tech-used">Technologies used:</span></strong> Rails, Bootstrap, HTML5/CSS3, Javascript, jQuery</p>
        </div>
      </div>
    </div>  <!-- close row -->
  <!-- </div>   -->

  <hr class="red-hr">

  <div class="flex-row last">
    <div class="imac-img">
      <%= image_tag("iphoneimac_roadlette.png")%>
    </div>
    <div class="text-project">
      <div>
        <h3 class="title"><a href="http://midterm-roadlette.herokuapp.com/" target="_blank">Roadlette</a></h3>
      </div>
      <div>
        <p>Roadlette was my midterm project at Lighthouse Labs, built alongside two others.  We created an app where, if given a dollar amount and number of days, calculates a random roadtrip destination.  The starting location is set at Lighthouse Labs.</p>
        <p><strong><span class="tech-used">Technologies used:</span></strong> Ruby, Sinatra, Bootstrap, HTML5/CSS3, Javascript, jQuery, Google Maps API, Flickr API, Web Scraping</p>
      </div>
    </div>
  </div>  <!-- close row -->
</div>



<!-- Contact Section -->
<div id="contact" class="second-header">
  <h1 id="page_title">Leave me a message!</h1>
  <div class="skinny_wrapper wrapper_padding">
    <%= form_for Contact.new, url: {action: "create"} do |f| %>
      <%= f.label :name %><br>
      <%= f.text_field :name, required: true %>
    
    <br>
      <%= f.label :email %><br>
      <%= f.email_field :email, required: true %>
    
    <br>
      
      <%= f.label :message %><br>
      <%= f.text_area :message, as: :text %>
    
    <div class="hidden">
      <%= f.label :nickname %>
      <%= f.text_field :nickname, hint: 'leave this field blank' %>
    </div>

    <%= f.submit "Send Message", class: "button" %>
    <% end %>
  </div>

</div>

<!-- Contacts Modal -->

<!-- <div class="modal fade" style="display:none;" id="contactModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button id="close-login" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Thanks!</h3>
      </div>
      <div class="modal-body clearfix">
        <h1>Thanks for the message!</h1>
        <h2>I'll get back to you ASAP!</h2>
      </div>
      
    </div>
  </div>
</div> -->

<a href="#" class="back-to-top">Back to top</a>

