<!-- Navbar/Hero -->
<div class="teal-container">
  <div class="large-header">
    <div class="upper-half">
      <div class="greeting">
        Hello!
      </div>
      <header class="main_navigation" class="clearfix">
          <%= link_to "Andrew Woo", root_path, class: "name" %>
          <nav>
            <a class="project_button" href="#">Work</a>
            <a class="contact_button" href="#">Contact</a>
        <!--     <%= link_to "Blog", posts_path %>
            <% if user_signed_in? %>
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
            <% end %> -->
          </nav> 
      </header>
    </div>
    <div class="lower-half">
      <%= image_tag("vancouverscape.svg")%>
    </div>
    
  
  </div>
</div>

<div class="row-fluid">
  <div class="col-md-3 col-xs-1"></div>
  <div id="intro" class="col-xs-10 col-md-6">
    <div class="me"></div>
    <p id="name">I'm Andrew!</p>
      <div class="about">
        <p>I'm a Web Developer living in Vancouver BC. I particularly enjoy the front-end aspect of development as well as designing! In my spare time, you'll usually find me surfing the web or at the gym. Currently looking for full-time opportunities.</p>
        <p>Leave a message for any inquiries!</p>
      </div>
  </div>
  <div class="col-md-3 col-xs-1"></div>
</div>

<!-- Projects List -->
<div class="teal-container projects">
  <h2 class="title">Work</h2>
  <div class="flex-row">
    <div class="imac-img device-left first">
      <%= image_tag("iphoneimac_cocktails.png")%>
    </div>
    <div class="text-project">
      <div>
        <h3 class="title"><a href="https://cocktailsandcanapes.ca/" target="_blank">Cocktails & Canapes</a></h3>
      </div>
      <div>
        <p>Updated existing website for client focusing primarily on improving SEO. Updates were made to the Navigation and all pages except the Menus page.  Worked on general responsiveness as well as stylistic changes as requested by the client. </p>
        <p><strong><span class="tech-used">Technologies used:<span></strong> Laravel, PHP, HTML5/CSS3, Javascript, jQuery</p>
      </div>
    </div>
  </div> 

  <hr class="red-hr first">
  
  <div class="flex-row">
    <div class="imac-img device-left first">
      <%= image_tag("iphoneimac_dropin.png")%>
    </div>
    <div class="text-project">
      <div>
        <h3 class="title"><a href="https://drop-in-pass.herokuapp.com/" target="_blank">Drop-in Pass</a></h3>
      </div>
      <div>
        <p>In a group of 3, we built Drop-in Pass as our final project at Lighthouse Labs.  Drop-in Pass allows users to try a variety of activities in their area for free once per month.  This allows customers to commit to activities that they actually enjoy.</p>
        <p><strong><span class="tech-used">Technologies used:<span></strong> Rails, Bootstrap, HTML5/CSS3, Javascript, jQuery, Twilio API, Google Maps API, Stripe API, Action Mailers</p>
      </div>
    </div>
  </div> 
</div>

<section class="contact-section">
  <h2 class="title">Contact</h2>
  <div class="contact">
    For freelance work and any other inquiries, shoot me an email.  
    <a href="mailto: ahjwoo@gmail.com" class="contact-button">Email
    </a>
  </div>
</section>

<a href="#" class="back-to-top">Back to top</a>

