<div id="large-header">
  <header id="main_navigation" class="clearfix">
    <%= link_to "Andrew Woo", root_path, class: "name" %>
    <nav>


      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% end %>
    </nav>
  </header>

<h1 id="page_title">Blog posts</h1>
<hr style="margin: 1em auto; width: 10em;">

  <div id="posts_wrapper" class="skinny_wrapper">
    <% @posts.each do |post| %>
      <div class="post">
        <h2><a href='#'><%= link_to post.title, post %></a></h2>
        <br>
        <p class="date"><%= post.created_at.strftime('%A, %B %d') %></p>
        <hr>
      </div>
    <% end %>
    
  <% if user_signed_in? %>
    <div id="admin_links" style="text-align:center;">
      <h2><%= link_to "Add a post", new_post_path %></h2>
    </div>
  <% end %>
<%= will_paginate @posts %>

  </div> <!-- /skinny wrapper -->
</div>