<!DOCTYPE html>
<html>
<head>
  <title>Andrew Woo - Full Stack Developer</title>
  <!-- <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- <header id="main_navigation" class="clearfix">
    <%= link_to "Andrew Woo", root_path, class: "name" %>
    <nav>
      <%= link_to "Articles", posts_path %>
      <%= link_to "Projects", projects_path %>
      <%= link_to "Contact", new_contact_path %>
      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% end %>
    </nav>
  </header> -->
  
<% if notice %>
  <p class="notice"><%= notice %></p>
<% elsif alert %>
  <p class="alert"><%= alert %></p>
<% end %>

<%= yield %>

</body>
  <footer id="main_footer">
    <p class="copyright">&copy; 2016 Andrew Woo</p>
    <nav>
      <a href="https://resume.creddle.io/resume/dhb3w9deeg4" id="resume" target="_blank">Resume</a>
      <a href="https://ca.linkedin.com/in/ahjwoo91
" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/ahjwoo" target="_blank"><i class="fa fa-github"></i></a>
    </nav>
  </footer>
</html>
